{# app/Resources/views/base.html.twig #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Watch My Desk{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/addons/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="/addons/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="/addons/style.css">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href='#' onclick="return false;"><span class="hidden-xs hidden-sm">Bienvenue</span> <span class='glyphicon glyphicon-cog'></span></a>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu dropdown-inverse">
                            <li><a href=''>Mon compte</a></li>
                            <li><a href=''>Déconnexion</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href=''>Créer un compte</a></li>
                    <li>
                        <a href='#' class="identification">S'identifier</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid">{% block content %}{% endblock %}</div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center"><i class="fa fa-circle-o-notch fa-5x fa-pulse"></i></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myLargeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body text-center"><i class="fa fa-circle-o-notch fa-5x fa-pulse"></i></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="mySmallModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body text-center"><i class="fa fa-circle-o-notch fa-5x fa-pulse"></i></div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="/addons/jquery-1.11.3.min.js"></script>
            <script src="/addons/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                $(function(){
                    $('#myModal').on('hidden.bs.modal', function () {
                        $('#myModal').removeData('bs.modal').find(".modal-content").html(
                                '<div class="modal-body text-center">' +
                                '<i class="fa fa-circle-o-notch fa-5x fa-pulse"></i>' +
                                '</div>'
                        );
                    });
                    $('#myLargeModal').on('hidden.bs.modal', function () {
                        $('#myLargeModal').removeData('bs.modal').find(".modal-content").html(
                                '<div class="modal-body text-center">' +
                                '<i class="fa fa-circle-o-notch fa-5x fa-pulse"></i>' +
                                '</div>'
                        );
                    });
                    $('#mySmallModal').on('hidden.bs.modal', function () {
                        $('#mySmallModal').removeData('bs.modal').find(".modal-content").html(
                                '<div class="modal-body text-center">' +
                                '<i class="fa fa-circle-o-notch fa-5x fa-pulse"></i>' +
                                '</div>'
                        );
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>