{% extends 'base.html.twig' %}
{% block content %}
    <a class="btn btn-primary" href="{{ path('addEditUser') }}">Ajouter</a>
    <table class="table">
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
