{% extends 'base.html.twig' %}

{% block content %}
    <table class='table table-condensed table-hover table-striped'>
        {% for tournoi in tournois %}
            <tr>
                <td><a href="{{ path('tournoiid', { 'id_tournoi': tournoi.id }) }}">{{ tournoi.place }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}