{% block content %}
<table class='table table-condensed table-hover table-striped'>
    <thead>
        <tr>
            <th colspan="2" class="text-center">Buteurs</th>
        </tr>
    </thead>
    <tbody>
        {% for buteur in classementButeurs %}
            <tr>
                <td class='text-right bold'>
                    {{ buteur.name }}
                </td>
                <td class='text-center bold'>
                    {{ buteur.nombre }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}